<div class="centerOfScreen">
  <div class="board-background">
    <div class="grid">
      <div class="one-one"><marker type="x"></marker></div>
      <div class="one-two"><marker type="x"></marker></div>
      <div class="one-three"><marker type="circle"></marker></div>
      <div class="two-one"><marker type="circle"></marker></div>
      <div class="two-two"><marker type="x"></marker></div>
      <div class="two-three"><marker type="circle"></marker></div>
      <div class="three-one"><marker type="x"></marker></div>
      <div class="three-two"><marker type="circle"></marker></div>
      <div class="three-three"><marker type="x"></marker></div>
    </div>
  </div>
</div>
