<div class="center grid full">
  <h1 class="title">{{title}}</h1>
  <div class="board-wrapper">
    <h1 class="player-turn">It's X's turn!</h1>
    <h2 class="board-container">
      <div class="board">
        <div class="piece-container"><span class="fa fa-times x"></span></div>
        <div class="piece-container"><span class="fa fa-times x"></span></div>
        <div class="piece-container"><span class="fa fa-circle-o o"></span></div>
        <div class="piece-container"><span class="fa fa-circle-o o"></span></div>
        <div class="piece-container"><span class="fa fa-times x"></span></div>
        <div class="piece-container"><span class="fa fa-circle-o o"></span></div>
        <div class="piece-container"><span class="fa fa-times x"></span></div>
        <div class="piece-container"><span class="fa fa-circle-o o"></span></div>
        <div class="piece-container"><span class="fa fa-times x"></span></div>
      </div>
    </h2>
  </div>
</div>
