/* Global CSS Rules for all children of app.component */

/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lobster-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster Regular'), local('Lobster-Regular'),
       url('../assets/fonts/lobster-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/lobster-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/lobster-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/lobster-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/lobster-v20-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4 {
  font-family: 'Lobster';
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 20vmin);
  grid-template-rows: repeat(5, 20vmin);
  grid-template-areas:
    "title title title title title"
    ". board board board ."
    ". board board board ."
    ". board board board ."
    ". . . . .";
}

.title {
  grid-area: title;
  font-size: 5vmin;
  color: rgb(37, 34, 34);
  justify-self: center;
  align-self: center;
}

/* #eeeeee light gray */
/* #101252 dark blue*/
/* #f34646 red */

.board-container {
  grid-area: board;
  display: grid;
  background-color: rgb(37, 34, 34);
  border: rgb(37, 34, 34) 1vmin solid;
  border-radius: 1vmin;


  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.board {
  display: grid;
  grid-gap: 1vmin;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.center {
  justify-self: center;
  align-content: center;
}

.mark-container {
  display: grid;
  background-color: #eee;
  border: .5vmin solid transparent;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.mark-container:hover {
  border: .5vmin solid rgba(0, 140, 255, 0.5);
}
